body {
    background-image: url("../assets/background-home.jpg");
}

.text h1, h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

span {
    color: #3a3838;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
    transition: all 0.3s ease;
}

.social-icons .fa-linkedin:hover {
    color: #0077B5;
}

.social-icons .fa-instagram:hover {
    color: #e1306c;
    transition: border-color 0.3s ease;
}

.social-icons .fa-github:hover {
    color: #333;
}











