.navbar {
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-items > li {
    margin-right: 15px;
}